<footer>
	<div class = "tagline">This old dog did learn some new tricks</div>
	<div>
		<nav>
		<a href = "https://github.com/LufkinJulie">GitHub</a> &nbsp;&#10247;&nbsp;
		<a href = "https://lufkinjulie.github.io/">GitHub Pages</a> &nbsp;&#10247;&nbsp;
		<a href = "https://github.com/LufkinJulie/web115">GitHub Course Page</a> &nbsp;&#10247;&nbsp;
		<a href = "https://www.freecodecamp.org/lufkinj">Freecodecamp</a> &nbsp;&#10247;&nbsp;
		<a href = "https://www.codecademy.com/profiles/LufkinJ">Codecademy</a> &nbsp;&#10247;&nbsp;
		<a href = "https://www.linkedin.com/in/julie-lufkin-0a611a52/">LinkedIn </a>
		</nav>
	</div>
	<p>Site by Old Dog Coding &copy;2022</p>
	<a id = "htmlButton" href = "https://validator.w3.org/check?uri=" class = "buttons">HTML</a> &nbsp;
	<a id = "cssButton" href = "https://jigsaw.w3.org/css-validator/validator?uri=" class = "buttons">CSS</a>

	<script>
		document.getElementById("htmlButton").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("cssButton").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>
</footer>
