body {
		margin-left: 150px;
		margin-right: 150px;
		font-family: 'Gelasio', serif;
		color: #6E2C00 ;
		background: radial-gradient(circle, white, #669999);
		font-size: 20px;
}
h1 {
		text-align: center;
		color: #6E2C00;
		font-style: italic;
		padding: 5px;
		border-bottom: 10px double #006666;
}
header nav {
		padding: 5px;
}
header, h2, h3, p  {
		text-align: center;
		margin: 0px;
		padding: .1em
}
.sig {
		font-family: 'Satisfy', cursive;
}
.tagline {
		text-align: center;
		font-style: italic;
		border-bottom: 10px double #006666;
		font-size: 20px;
		padding-bottom: 5px;
}
footer div{
		padding-top: 5px;
		text-align: center;
		font-size: 20px;
		padding: 5px;
}
a {
		color: #6E2C00;
}
a:hover {
		color: #da1d81
}
header a{
		text-decoration: none;
}
footer a{
		color: #6E2C00;
		text-decoration: none;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
}
nav {
		text-align: center;
		font-size: 20px;
}
main nav {
		text-align: center;
		font-size: 15px;
}
main p {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: left;
}
figure {
		text-align: center;
		display: block;
}
figcaption {
		text-align: center;
		font-size: 15px;
		font-style: italic;
}
ul {
		list-style-type: none;
		display: inline-block;
}
.classHeaders {
		font-family: 'Courgette', cursive;
		font-size: 22px;
		padding-top: 5px;
}
.introClasses {
		list-style-type: circle;
}
.buttons {
		 border: double #006666;
		 color: #6E2C00;
		 padding: 5px 24px;
		 text-align: center;
		 text-decoration: none;
		 display: inline-block;
		 font-size: 20px;
		 margin: 4px 4px;
		 cursor: pointer;
		 font-style: normal;
		 font-family: Georgia;
		 width: 35px;
}

header, nav, main, footer {display: block;}
